/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ph_logo_hidden {
  display: none !important;
}

.borah_dynamic_grid .jet-listing-grid__items {
  justify-content: center !important;
}
.borah_dynamic_grid .jet-listing-grid__items > .jet-listing-grid__item {
  flex: none !important;
}

.borah_dynamic_grid
  .jet-listing-grid__items
  > .jet-listing-grid__item
  div.elementor-widget-wrap {
  padding: 0px !important;
}
.if-user-not-verified.user-verified {
  display: none;
}
.if-user-verified.user-not-verified {
  display: none;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden-front {
  display: none;
}
