@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #wpcontent {
    @apply bg-[#e5e7eb] !important;
  }
  .dashboard-layout {
    @apply flex items-start justify-center font-sans text-gray-800 bg-gray-200;
  }

  .main-area {
    @apply w-full max-w-screen-lg p-6;
  }

  .actions-area {
    @apply flex items-center justify-between mb-6;
  }

  .action-buttons {
    @apply flex items-center space-x-4;
  }

  .template-btn {
    @apply flex items-center gap-1 px-3 py-1 text-xs text-white transition-transform duration-150 transform bg-gray-800 rounded-full shadow-md cursor-pointer hover:scale-105 sm:gap-2 sm:px-4 sm:py-1 sm:text-sm md:gap-2 md:px-5 md:py-2 md:text-base;
  }

  .settings-btn {
    @apply bg-transparent border-none cursor-pointer;
  }

  .toggle-label {
    @apply ml-auto;
  }

  .page-title {
    @apply text-sm font-semibold text-gray-900 sm:text-lg md:text-2xl;
  }

  .title-area {
    @apply flex items-center gap-5;
  }

  .toggle-label {
    @apply cursor-pointer;
  }

  .toggle {
    @apply relative inline-block h-8 align-middle rounded-full cursor-pointer w-14 bg-gradient-to-r from-gray-400 to-gray-600;
  }

  .toggle__line {
    @apply absolute w-full h-full transition-colors duration-300 rounded-full shadow-inner bg-gradient-to-r from-gray-500 to-gray-700;
  }

  .toggle__dot {
    @apply absolute w-6 h-6 transition-transform duration-300 bg-white rounded-full shadow-md top-1 left-1 transform-gpu;
  }

  .toggle-label input:checked + .toggle .toggle__dot {
    @apply transform translate-x-6 bg-blue-500;
  }

  .content-preview,
  .content-edit,
  .content-settings,
  .content-templates {
    @apply mt-4;
  }
  .content-settings,
  .content-templates {
    @apply absolute top-0 left-0 z-10 w-full h-full bg-gray-200;
  }

  .content-title {
    @apply text-lg font-medium text-gray-900;
  }

  /** Upload Field **/

  .upload-container {
    @apply relative flex flex-col items-center p-4 mb-4 transition-all border-2 border-gray-300 border-dashed rounded-md cursor-pointer hover:border-gray-800 md:flex-row md:space-x-4 md:justify-between;
  }

  .no-hover,
  .no-hover input {
    @apply cursor-not-allowed !important;
  }
  .upload-container.no-hover:hover {
    @apply border-gray-300 cursor-not-allowed !important;
  }

  .upload-label {
    @apply text-sm font-medium text-center text-gray-700 md:text-left;
  }

  .file-preview {
    @apply object-cover w-32 h-32 mx-auto mb-4 rounded shadow-lg md:mb-0 md:order-last;
  }

  .upload-btn {
    @apply px-5 py-2 text-white transition-transform duration-150 transform bg-gray-800 rounded-full shadow-md cursor-pointer hover:scale-105;
  }

  .upload-content {
    @apply flex flex-col items-center justify-center w-full md:items-start;
  }

  .success {
    @apply mt-2 text-center;
  }

  /* Toast */
  .toast {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }

  .toast.active {
    transform: translateX(0%);
  }

  .toast .toast-content {
    display: flex;
    align-items: center;
  }

  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2770ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }

  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }

  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  }

  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2770ff;
  }

  .progress.active:before {
    animation: progress 5s linear forwards;
  }

  @keyframes progress {
    100% {
      right: 100%;
    }
  }

  /* Input */
  .input-container {
    @apply relative flex items-center gap-2 p-2 mt-4 mb-8 transition-all bg-gray-100 rounded-md md:p-4;
  }

  .icon {
    @apply w-6 h-6 mr-4 text-gray-500;
  }

  .input-field {
    @apply flex-grow bg-transparent focus:outline-none focus:ring-0 placeholder-gray-500 border-0 !important;
  }
  .input-label {
    @apply text-sm font-medium text-gray-700;
  }

  /* Textarea */
  .textarea-label {
    @apply block mt-4 text-sm font-medium text-gray-700;
  }

  .textarea-field {
    @apply w-full p-4 mb-8  mt-2 transition-all bg-gray-100 rounded-md focus:ring-0 focus:border-transparent focus:outline-none border-0 resize-y placeholder-gray-500 !important;
  }

  /* LINKS LIST */
  .input-list-container {
    @apply p-4 bg-gray-200 rounded-lg shadow-md;
  }

  .input-field-enhanced {
    @apply w-full p-2 pl-4 placeholder-gray-500 bg-white border-0 rounded-lg focus:outline-none focus:ring-0;
  }

  .btn-remove,
  .btn-edit {
    @apply p-1 ml-2 text-white transition-colors duration-150 rounded-full;
  }

  .btn-remove {
    @apply bg-red-500 hover:bg-red-600;
  }

  .btn-edit {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .icon {
    @apply inline-block w-4 h-4;
  }

  .link-item {
    @apply flex items-center p-2 mt-2 bg-white rounded-md shadow-sm;
  }

  .description {
    @apply mt-2 text-xs text-red-500;
  }

  /* Character Limit */
  .char-counter {
    @apply absolute text-sm text-gray-500 bottom-2 right-2;
  }

  .textarea-char-counter {
    @apply absolute text-sm text-gray-500 bottom-11 right-2;
  }

  .textarea-container {
    @apply relative;
  }
}
