@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html.wp-toolbar {
  padding: 0px !important;
}
@layer components {
  #wpcontent {
    @apply bg-white p-0 !important;
  }
  .dashboard-layout {
    font-family: "Poppins", sans-serif !important;
    @apply flex items-start justify-center h-screen text-gray-800 bg-white;
  }

  .main-area {
    @apply w-full max-w-[1200px] py-6;
  }

  .actions-area {
    @apply flex items-center justify-between px-6 mb-8 md:px-2;
  }

  .action-buttons {
    @apply flex items-center space-x-4;
  }

  .template-btn {
    @apply flex items-center gap-1 px-3 py-1 text-xs text-white transition-transform duration-150 transform bg-[#F1441E] rounded-full cursor-pointer hover:scale-105 sm:gap-2 sm:px-4 sm:py-1 sm:text-sm md:gap-2 md:px-5 md:py-2 md:text-base border-0;
  }

  .settings-btn {
    @apply bg-transparent border-none cursor-pointer;
  }

  .toggle-label {
    @apply ml-auto;
  }

  .page-title {
    @apply text-sm font-semibold text-gray-900 sm:text-lg md:text-4xl;
  }

  .title-area {
    @apply flex items-center gap-5;
  }

  .toggle-label {
    @apply cursor-pointer;
  }

  .toggle {
    @apply relative inline-block h-8 align-middle rounded-full cursor-pointer w-14 bg-gradient-to-r from-gray-400 to-gray-600;
  }

  .toggle--small {
    @apply w-12 h-6;
  }

  .toggle__line {
    @apply absolute w-full h-full transition-colors duration-300 rounded-full shadow-inner bg-gradient-to-r from-[#171717] to-[#171717];
  }

  .toggle__dot {
    @apply absolute w-6 h-6 transition-transform duration-300 bg-[#F1441E] rounded-full shadow-md top-1 left-1 transform-gpu;
  }

  .toggle__dot--small {
    @apply w-4 h-4;
  }

  .toggle-label input:checked + .toggle .toggle__dot {
    @apply transform translate-x-6 bg-[#F1441E];
  }

  .setting-page-wrap {
    @apply pb-52;
  }
  .content-preview,
  .content-edit,
  .content-settings,
  .content-templates {
    @apply mt-4;
  }
  .content-settings,
  .content-templates {
    @apply absolute top-0 left-0 z-10 w-full bg-white;
  }

  .content-title {
    @apply text-lg font-medium text-gray-900;
  }

  /** Upload Field **/

  .upload-container {
    @apply relative flex flex-col items-center p-4 mb-4 transition-all border-2 border-gray-300 border-dashed rounded-md cursor-pointer hover:border-gray-800 md:flex-row md:space-x-4 md:justify-between;
  }

  .no-hover,
  .no-hover input {
    @apply cursor-not-allowed !important;
  }
  .upload-container.no-hover:hover {
    @apply border-gray-300 cursor-not-allowed !important;
  }

  .upload-label {
    @apply text-sm font-medium text-center text-gray-700 md:text-left;
  }

  .file-preview {
    @apply object-cover w-32 h-32 mx-auto mb-4 rounded shadow-lg md:mb-0 md:order-last;
  }

  .upload-btn {
    @apply px-5 py-2 mt-5 text-white border-0 transition-transform duration-150 transform bg-[#F1441E] rounded-full cursor-pointer hover:scale-105;
  }

  .add-link-btn {
    @apply w-full md:text-[15px] py-3 my-2 font-semibold text-white transition-transform duration-150 transform bg-[#171717] border-0 rounded-full cursor-pointer;
  }

  .upload-content {
    @apply flex flex-col items-center justify-center w-full md:items-start;
  }

  .success {
    @apply mt-2 text-center;
  }

  /* Toast */
  .toast {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }

  .toast.active {
    transform: translateX(0%);
  }

  .toast .toast-content {
    display: flex;
    align-items: center;
  }

  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2770ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }

  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }

  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }

  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  }

  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2770ff;
  }

  .progress.active:before {
    animation: progress 5s linear forwards;
  }

  @keyframes progress {
    100% {
      right: 100%;
    }
  }

  /* Input */
  .input-container {
    @apply relative flex items-center gap-2 p-2 mt-4 mb-8 transition-all bg-[#171717] rounded-md md:p-4;
  }

  .input-container svg {
    @apply text-[#F1441E];
  }
  .input-container input {
    @apply text-white;
  }

  .icon {
    @apply w-6 h-6 mr-4 text-gray-500;
  }

  .input-field {
    @apply flex-grow bg-transparent focus:outline-none focus:ring-0 placeholder-gray-500 border-0 !important;
  }
  .input-label {
    @apply mt-1 mb-3 text-sm sm:text-[1rem] font-bold text-black uppercase;
  }

  /* Textarea */
  .textarea-label {
    @apply block mt-4 text-sm font-medium text-gray-700;
  }

  .textarea-field {
    @apply w-full p-4 mb-10 text-white  mt-2 transition-all bg-[#171717] rounded-md focus:ring-0 focus:border-transparent focus:outline-none border-0 resize-y placeholder-gray-500 !important;
  }

  /* LINKS LIST */
  .input-list-container {
    @apply p-4 bg-gray-200 rounded-lg shadow-md;
  }

  .input-field-enhanced {
    @apply w-full p-2 pl-4 mt-2 mb-5 placeholder-gray-500 bg-white border-0 rounded-lg focus:outline-none focus:ring-0;
  }

  .input-container.input-container-enhanced {
    @apply py-0 text-gray-700 bg-white;
  }

  .input-container.input-container-enhanced input {
    @apply pl-0 my-0 text-gray-700 text-[15px];
  }

  .btn-remove,
  .btn-edit {
    @apply p-1 ml-2 text-white transition-colors duration-150 rounded-full;
  }

  .btn-remove {
    @apply bg-red-500 hover:bg-red-600;
  }

  .btn-edit {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .icon {
    @apply inline-block w-4 h-4;
  }

  .link-item {
    @apply flex items-center p-2 mt-2 bg-white rounded-md shadow-sm;
  }

  .description {
    @apply mt-2 text-xs text-red-500;
  }

  /* Character Limit */
  .char-counter {
    @apply absolute text-sm text-gray-500 bottom-2 right-2;
  }

  .textarea-char-counter {
    @apply absolute text-sm text-gray-500 bottom-11 right-2;
  }

  .textarea-container {
    @apply relative;
  }

  .textarea-container span {
    @apply outline-none p-0 m-0 border-0 !important;
  }

  /* Tabs */
  .tab-headers {
    @apply flex justify-center gap-2 px-2 mt-8 mb-6 md:justify-start md:gap-6;
  }

  /* .tab-btn {
    @apply flex items-center gap-2 px-4 py-2 font-medium text-gray-700 transition-transform duration-150 transform bg-gray-200 rounded shadow cursor-pointer hover:scale-105;
  } */

  .tab-btn {
    @apply flex border-0 items-center gap-1 px-3 py-2 text-sm font-medium text-white transition-transform duration-150 transform bg-[#171717] rounded-3xl cursor-pointer hover:scale-105 sm:gap-2 sm:px-3 sm:py-2 md:text-[15px] md:gap-2 md:px-10 md:py-3;
  }

  .tab-btn svg {
    @apply w-4 h-4;
  }

  .unlock-more {
    @apply no-underline hover:text-white flex border-0 items-center gap-1 px-2 py-1 text-sm font-medium text-white transition-transform duration-150 transform bg-[#F1441E] rounded-full cursor-pointer hover:scale-105 sm:gap-2 sm:px-4 md:text-[15px] md:gap-2;
  }

  .unlock-more svg {
    @apply w-4 h-4;
  }

  .active-tab {
    @apply text-white bg-[#F1441E] border-0;
  }

  .tab-content {
    @apply px-6 pt-4 pb-80 md:px-2;
  }

  /* Card */
  .template-card {
    @apply w-[95%] sm:w-full m-auto transition-all duration-300 border-2 border-gray-700 border-solid rounded shadow-none cursor-pointer hover:shadow-md;
    @apply focus-visible:outline-none focus-visible:shadow-none active:outline-none hover:outline-none focus:outline-none !important;
  }
  .template-card:hover {
    @apply shadow-sm;
  }
  .template-card:active,
  .template-card:focus {
    outline: 0;
    /* border-color: var(--btn-border-color); */
  }
  .template-card:active,
  .template-card:focus,
  .template-card:focus-within {
    outline: 0;
    box-shadow: none;
    /* border-color: var(--btn-border-color); */
  }
  .template-title {
    @apply mb-2 text-xs font-semibold leading-tight no-underline sm:text-sm md:text-lg hover:text-gray-800;
  }

  .template-version {
    @apply inline-block text-xs text-white font-bold rounded bg-[#171717] mr-2 mb-2 px-1 py-0.5 sm:px-2;
  }

  .on-edit {
    @apply border-[#F1441E] !important;
  }
  .template-desc {
    @apply text-sm italic text-gray-700 no-underline;
  }

  /* Filter */
  .filter-item {
    @apply text-sm text-gray-700 transition-all duration-200;
  }

  .filter-item:hover {
    @apply text-gray-800;
  }

  .ph_logo_hidden {
    @apply hidden !important;
  }

  .dragging-class {
    opacity: 0.5;
    transform: scale(2);
    border: 2px solid #0075a2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  .hidden-link-class {
    @apply opacity-80;
  }
  .highlight-link-class {
    @apply border-orange-400;
  }

  .drag-over {
    background-color: #e2e8f0; /* Change this to your desired color */
    border: 2px solid #cbd5e0; /* Change this to your desired border style */
  }

  .drag-handle {
    display: inline-block;
    padding: 4px;
    font-size: 18px;
    cursor: grab;
    margin-right: 8px;
  }

  .drag-handle:active {
    cursor: grabbing;
  }

  .warning-message {
    @apply flex items-center p-4 my-5 space-x-4 text-sm text-gray-800 bg-yellow-300 rounded text-opacity-90;
  }

  .warning-icon {
    @apply w-10 h-10 text-[#F1441E] sm:h-6 sm:w-6;
  }

  .iframe-container {
    position: relative;
  }

  iframe {
    width: 100%;
    border: none;
  }

  .loaad {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }

  #loading-spin {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #f1441e;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  #analytics-spin {
    @apply justify-center mx-auto w-14 h-14 border-solid border-4 border-white border-opacity-30 rounded-[50%] flex mt-28 mb-2;
    border-top-color: #f1441e !important;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  #analytic-loading-msg {
    @apply flex justify-center text-base text-[#171717];
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  .save-progress {
    @apply flex justify-end items-center h-12 fixed bottom-0 left-0 right-0 py-4 pr-4 text-right bg-[#171717] sm:pr-12 md:pr-14 lg:pr-16 xl:pr-72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  ul.lists_container li {
    @apply p-2 my-4 bg-gray-50 border-[1px] border-solid rounded-[10px] sm:p-5 sm:m-5 border-[#D2D2D2];
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.28);
  }

  .shadow-og {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.28);
  }
  ul.lists_container li:last-child {
    @apply mb-14;
  }

  input[type="checkbox"],
  input[type="checkbox"]:checked,
  input[type="checkbox"]:focus,
  input[type="checkbox"]:checked:focus {
    @apply bg-white;
  }

  #wpbody-content {
    @apply bg-white;
  }

  body {
    @apply bg-white !important;
  }

  .table-wrapper {
    @apply rounded-xl py-[1px] px-6 mt-4 mb-12 text-[#2a2a2a];
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.28);
  }
  .chart-wraper {
    @apply rounded-xl py-[25px] px-[10px] mt-4 mb-12 text-[#2a2a2a];

    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.28);
  }

  .icon-state {
    @apply text-gray-700;
  }

  .icon-state.icon-active {
    @apply text-[#F1441E];
  }

  .ctr-table-icon {
    @apply mr-2 align-text-top;
  }

  .range-filters {
    @apply flex items-center justify-center gap-1 mt-10 mb-14;
    font-family: "Poppins", sans-serif !important;
  }

  .range-filters .range-active-filter {
    @apply text-white bg-[#F1441E] font-bold !important;
  }

  .range-filters .range-filter {
    @apply cursor-pointer filter-item rounded-md hover:text-white hover:bg-[#F1441E] p-1 sm:px-3 sm:py-1 text-sm sm:text-base;
  }

  .input-label .heading-icon {
    @apply text-[#F1441E] text-sm mr-1;
  }

  .input-label.analytics-label {
    @apply pt-7 pb-4 text-lg normal-case pl-4;
  }

  .analytics-label-wraper .input-label.analytics-label {
    @apply p-0 !important;
  }

  .analytics-label-wraper {
    @apply flex justify-between pt-7 pb-4 pl-4;
  }

  .table-is-empty {
    @apply hidden;
  }
  .empty-analytic {
    @apply flex-col justify-center px-0 sm:px-3 py-16 items-center flex;
  }

  .empty-analytic .analytic-empty-title {
    @apply font-semibold text-lg sm:text-[1.6rem] leading-none;
  }

  .empty-analytic .analytic-empty-text {
    @apply text-sm sm:text-base leading-none;
  }

  .empty-analytic svg {
    @apply text-[#F1441E] sm:text-5xl text-3xl leading-none mb-6;
  }

  /* WP FORMS */
  .table-wrapper.ctr-table
    .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    table.wpDataTable
    > thead
    > tr
    > th {
    @apply font-normal text-sm sm:text-base text-[#2a2a2a] not-italic;
  }
  .table-wrapper
    .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    table.wpDataTable
    > thead
    > tr
    > th {
    @apply font-semibold text-sm sm:text-base text-[#2a2a2a] italic pl-0;
  }
  .table-wrapper
    .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    table.wpDataTable
    > tbody
    > tr {
    @apply text-base leading-8  border-b-[1px] border-b-[#dcdcdc] pl-0;
    border-bottom-style: solid;
  }
  .table-wrapper
    .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    table.wpDataTable
    > tbody
    > tr
    > td {
    @apply pl-0;
  }
  .table-wrapper.ctr-table
    .wpdt-c.wdt-skin-light
    .wpDataTablesWrapper
    table.wpDataTable
    > tbody
    > tr {
    @apply text-base sm:text-2xl border-none;
  }

  /* CTA Table */
  .column-total_views svg.ctr-table-icon {
    @apply text-[#ff00f9] !important;
  }
  .column-total_clicks svg.ctr-table-icon,
  .column-empty_clicks svg.ctr-table-icon {
    @apply text-[#f1441e] !important;
  }
  .column-ctr svg.ctr-table-icon {
    @apply text-[#711ef1] !important;
  }
}
